.root {
  padding: 32px 16px;
  /* background-color: #121212; */
  color: white;
  min-height: 600px;
}

/* Description */
.description {
  margin-bottom: 24px;
  font-size: 1.1rem;
  text-align: left;
  color: #ccc;
}

/* Form & Contact sections */
.formContainer,
.contactContainer {
  width: 100%;
}

.form {
  width: 100%;
}

.textField input {
  color: white !important;
}

.textField label {
  color: white !important;
}

.textField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.textField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

.textField input::placeholder {
  color: #ccc !important;
}

.textField {
  margin-bottom: 16px;
}

.submitButton {
  margin: 16px 0;
  font-size: 1rem;
}

.contactDetails {
  margin-bottom: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contactItem .icon {
  margin-right: 8px;
  color: red;
}

.mapContainer iframe {
  border-radius: 8px;
  margin-top: 16px;
}

/* Responsive Adjustments */
@media (max-width: 960px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }
  .description {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
  .formContainer,
  .contactContainer {
    padding: 0;
  }
  .form {
    padding: 0;
  }
  .contactItem {
    flex-direction: column;
    align-items: flex-start;
  }
  .contactItem .icon {
    margin-bottom: 4px;
  }
  .mapContainer iframe {
    height: 200px;
  }
}
