.root {
  padding: 32px 0;
  background-color: #121212; 
  min-height: 560px;
}

/* TextField input text */
.textField input {
  color: white !important;
}

/* TextField label */
.textField label {
  color: white !important;
}

/* TextField outline border */
.textField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

/* Change border color on hover */
.textField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

/* Change border color when focused */
.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

/* Placeholder text color */
.textField input::placeholder {
  color: #ccc !important;
}

.title {
  /* margin-bottom: 600px; */
  text-align: center;
  font-weight: bold;
}

.formContainer {
  width: 100%;
  padding-top: 242px;
}

.contactContainer {
  width: 100%;
  text-align: left;
  padding-top: 142px;
}

.form {
  width: 100%;
  padding-top: 42px;
  padding-right: 142px;
  border-color: white;
}

.textField {
  margin-bottom: 16px; 
}

.submitButton {
  margin: 16px 0;
}

.contactDetails {
  /* margin-top: 32px; */
  padding-top: 102px;
  padding-left: 142px;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contactLabel {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex: 0 0 120px; 
}

.contactValue {
  font-size: 1.5rem;
  flex-grow: 2; 
}

.icon {
  margin-right: 8px;
}
