.root {
    padding: 16px 0; 
    /* background-color: #121212;  */
    min-height: 600px;
  }
  
  .title {
    margin-bottom: 32px; /* Adjusted spacing */
    text-align: center;
    font-weight: bold;
  }
  
  .table {
    min-width: 650px; 
    width: 100%; 
    border-radius: 100px;
    /* border-color: white; */
    border: 2px solid white;
    
  }
  
  .tableHead {
    background-color: #3f51b5;
    
  }
  
  .tableCellHead {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    border: 2px solid white !important;
  }
  
  .tableCell {
    text-align: center;
    border: 2px solid white !important;
  }
  
  .classType {
    color: white;
    padding: 8px; 
    border-radius: 4px;
    display: inline-block;
    width: 100%;
  }
  
  .yoga {
    background-color: #3c4e55;
  }
  
  .hiit {
    background-color: #2a9d8f;
  }
  
  .pilates {
    background-color: #e9c46a;
  }
  
  .cardio {
    background-color: #f4a261;
  }
  
  .rest {
    background-color: #ff3300;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .tableCellHead, .tableCell {
      font-size: 0.8rem; /* Smaller text on small screens */
    }
    
    .title {
      font-size: 1.5rem; /* Smaller title on small screens */
    }
  }
  