.root {
  padding: 16px 0;
  /* background-color: #121212; */
  min-height: 600px;
}

.title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* Allow horizontal scroll on small screens */
.tableContainer {
  overflow-x: auto;
}

.table {
  min-width: 650px; /* Keeps desktop layout */
  border-radius: 12px;
  border: 2px solid white;
}

.tableHead {
  background-color: #000000;
}

.tableCellHead {
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(252, 227, 0) !important;
  color: white !important;
}

.tableCell {
  text-align: center;
  border: 2px solid rgb(252, 227, 0) !important;
  background-color: #000000;
  color: white !important;
}

@media (max-width: 600px) {
  .tableCellHead,
  .tableCell {
    font-size: 0.75rem; /* shrink text */
    padding: 4px; /* reduce padding */
  }

  .title {
    font-size: 1.2rem;
  }
}

  
  .classType {
    color: white;
    padding: 8px; 
    border-radius: 4px;
    display: inline-block;
    width: 100%;
  }
  
  .yoga {
    background-color: #000000;
  }
  
  .hiit {
    background-color: #000000;;
  }
  
  .pilates {
    background-color: #000000;;
  }
  
  .cardio {
    background-color: #000000;;
  }
  
  .rest {
    background-color: #000000;;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .tableCellHead, .tableCell {
      font-size: 0.8rem; /* Smaller text on small screens */
    }
    
    .title {
      font-size: 1.5rem; /* Smaller title on small screens */
    }
  }
  